body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 138);
}

h1 {
    font-weight: 900;
    background-color: aqua;
}

p {
    color:firebrick;
    background-color:lightyellow;
}

ul {
    background-color: rgb(237, 243, 130);
}

ol {
    background-color: rgb(175, 209, 220);
}
